$default:#707070;
$white:#FFFFFF;
$blue:#326CF9;
$bright-blue:#3D82F2;
$button-blue:#306EF7;
$button-black:#0E0E0E;
$total-black:#000000;
$bg-black:#0D0D0D;
$green:#0FC65C;
$grey:#919191;
$gradient:linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);